# Extract data

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Enrollies' data

In [70]:
google_sheet_id = '1VCkHwBjJGRJ21asd9pxW4_0z2PWuKhbLR3gUHm-p4GI'
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'
enrollies = pd.read_excel(url, sheet_name = 'enrollies')

## 2. Enrollies' education

In [71]:
url = 'enrollies_education.xlsx'
enrollies_education = pd.read_excel(url, sheet_name = 'enrollies_education')

## 3. Enrollies' working experience

In [72]:
working_experience = pd.read_csv('work_experience.csv')

## 4. Training hours

In [73]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)

In [74]:
from sqlalchemy import create_engine
import pymysql

engine = create_engine('mysql+pymysql://etl_practice:550814@112.213.86.31:3360/company_course')
training_hours = pd.read_sql_table('training_hours', engine)

## 5. City development index

In [75]:
url = 'https://sca-programming-school.github.io/city_development_index/index.html'
tables = pd.read_html(url)
cities = tables[0]

## 6. Employment

In [76]:
employment = pd.read_sql_table('employment', engine)

# TRANSFORM DATA

##1. Enrollies' data

In [77]:
cat_cols = ['city','gender']
enrollies['full_name'] = enrollies['full_name'].astype('string')
enrollies[cat_cols] = enrollies[cat_cols].astype('category')
enrollies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  string
 2   city         19158 non-null  category
 3   gender       14650 non-null  category
dtypes: category(2), int64(1), string(1)
memory usage: 342.1 KB

In [78]:
# Add 'unkown' to the categories
enrollies['gender'] = enrollies['gender'].cat.add_categories('unkown')

# Fill missing values with 'unkown'
enrollies['gender'] = enrollies['gender'].fillna('unkown')

In [79]:
enrollies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  string
 2   city         19158 non-null  category
 3   gender       19158 non-null  category
dtypes: category(2), int64(1), string(1)
memory usage: 342.1 KB

In [80]:
standardize_cols = ['full_name','city']
for clo in standardize_cols:
    enrollies[clo] = enrollies[clo].str.lower()

# Now convert gender to string and then to lowercase
enrollies['gender'] = enrollies['gender'].astype('str').str.lower()
  ## capitalize(), upper()

In [81]:
enrollies.head()

   enrollee_id      full_name      city  gender
0         8949     mike jones  city_103    male
1        29725    laura jones   city_40    male
2        11561   david miller   city_21  unkown
3        33241    laura davis  city_115  unkown
4          666  alex martinez  city_162    male

## 2. Enrollies' education

In [82]:
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  18772 non-null  object
 2   education_level      18698 non-null  object
 3   major_discipline     16345 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

In [83]:
enrollies_education.head()

   enrollee_id enrolled_university education_level major_discipline
0         8949       no_enrollment        Graduate             STEM
1        29725       no_enrollment        Graduate             STEM
2        11561    Full time course        Graduate             STEM
3        33241                 NaN        Graduate  Business Degree
4          666       no_enrollment         Masters             STEM

In [84]:
enrollies_education.duplicated().sum()

np.int64(0)

In [85]:
cat_cols = ['enrolled_university','education_level','major_discipline']

enrollies_education[cat_cols] = enrollies_education[cat_cols].astype('category')
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  18772 non-null  category
 2   education_level      18698 non-null  category
 3   major_discipline     16345 non-null  category
dtypes: category(3), int64(1)
memory usage: 206.5 KB

In [86]:
enrollies_education['enrolled_university'] = enrollies_education['enrolled_university'].cat.add_categories('unkown')
enrollies_education['enrolled_university'] = enrollies_education['enrolled_university'].fillna('unkown')
enrollies_education['education_level'] = enrollies_education['education_level'].cat.add_categories('unkown')
enrollies_education['education_level'] = enrollies_education['education_level'].fillna('unkown')
enrollies_education['major_discipline'] = enrollies_education['major_discipline'].cat.add_categories('unkown')
enrollies_education['major_discipline'] = enrollies_education['major_discipline'].fillna('unkown')

In [87]:
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  19158 non-null  category
 2   education_level      19158 non-null  category
 3   major_discipline     19158 non-null  category
dtypes: category(3), int64(1)
memory usage: 206.7 KB

## 3. Enrollies' working experience

In [88]:
working_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  object
 2   experience           19093 non-null  object
 3   company_size         13220 non-null  object
 4   company_type         13018 non-null  object
 5   last_new_job         18735 non-null  object
dtypes: int64(1), object(5)
memory usage: 898.2+ KB

In [89]:
working_experience.tail()

,enrollee_id,relevent_experience,experience,company_size,company_type,last_new_job
19153,7386,No relevent experience,14,NaN,NaN,1
19154,31398,Has relevent experience,14,NaN,NaN,4
19155,24576,Has relevent experience,>20,50-99,Pvt Ltd,4
19156,5756,Has relevent experience,<1,500-999,Pvt Ltd,2
19157,23834,No relevent experience,2,NaN,NaN,1

In [90]:
working_experience.duplicated().sum()

np.int64(0)

In [91]:
cat_cols = ['experience','company_size','company_type','relevent_experience']
working_experience['last_new_job'] = working_experience['last_new_job'].astype('string')
working_experience[cat_cols] = working_experience[cat_cols].astype('category')
working_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  category
 2   experience           19093 non-null  category
 3   company_size         13220 non-null  category
 4   company_type         13018 non-null  category
 5   last_new_job         18735 non-null  string
dtypes: category(4), int64(1), string(1)
memory usage: 375.7 KB

In [92]:
working_experience['experience',] = working_experience['experience'].cat.add_categories('unkown').fillna('unkown')
working_experience['company_size'] = working_experience['company_size'].cat.add_categories('unkown').fillna('unkown')
working_experience['company_type'] = working_experience['company_type'].cat.add_categories('unkown').fillna('unkown')
working_experience['last_new_job'] = working_experience['last_new_job'].fillna('unkown')

In [94]:
working_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  category
 2   experience           19093 non-null  category
 3   company_size         19158 non-null  category
 4   company_type         19158 non-null  category
 5   last_new_job         19158 non-null  string
 6   (experience,)        19158 non-null  category
dtypes: category(5), int64(1), string(1)
memory usage: 395.3 KB

## 4. Training hours

In [95]:
training_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   enrollee_id     19158 non-null  int64
 1   training_hours  19158 non-null  int64
dtypes: int64(2)
memory usage: 299.5 KB

In [96]:
training_hours.head()

   enrollee_id  training_hours
0         8949              36
1        29725              47
2        11561              83
3        33241              52
4          666               8

In [97]:
training_hours.duplicated().sum()

np.int64(0)

## 5. City development index

In [98]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    123 non-null    object
 1   City Development Index  123 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.1+ KB

## 6. Employment

In [99]:
employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   employed     19158 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 299.5 KB

# LOAD DATA

In [93]:
db_path = 'data_warehouse.db'

engine = create_engine(f'sqlite:///{db_path}')

enrollies.to_sql('enrollies', engine, if_exists = 'replace', index = False)
enrollies_education.to_sql('enrollies_education', engine, if_exists = 'replace', index = False)
working_experience.to_sql('working_experience', engine, if_exists = 'replace', index = False)
training_hours.to_sql('training_hours', engine, if_exists = 'replace', index = False)
cities.to_sql('cities', engine, if_exists = 'replace', index = False)
employment.to_sql('employment', engine, if_exists = 'replace', index = False)

19158